	<h4>Search related Names</h4>
	<div *ngIf="uiNames.length==0" class="row mt-2 mb-5">
		<div class="col">
			None.
		</div>
	</div>
	
	
	<div *ngFor="let uiName of uiNames;" class="row mt-2 mb-5">
		<div class="col-3">
			<h1 class="heading-1">{{uiName.mainKanji}}</h1>
			{{uiName.mainKana}}
		</div>
		<div class="col-9">
				<ng-container *ngFor="let sense of uiName.senses">
				<span class="text-muted">{{sense.type}}</span>
				<ul>
					<li>{{sense.translation}} </li>
				</ul>
			</ng-container>

		</div>
	</div>
