<div class="container">
	<div class="row">
		<div class="col-sm my-5">
			<h1 class="display-3 font-weight-normal" align="center">Kanji Selection by Radicals</h1>
		</div>
	</div>
	
	<app-main-navigation></app-main-navigation>

	<div class="row">
		<div class="col-lg mt-1">
			<ul class="list-group">
 				<li class="list-group-item">
					<button *ngFor="let kanji of retrievedKanji.values" type="button" class="btn btn-outline-secondary kanji-m">{{kanji}}</button>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm my-5">
			<h1 class="display-5 font-weight-normal" align="center">Select</h1>
		</div>
	</div>
	

	<div class="row">
		<div class="col-lg mt-1">
			<ul class="list-group">
 				<li  class="list-group-item">
					<button *ngFor="let radical of selectableRadicals; let i = index" type="button" class="btn kanji-m" [disabled]="radical.disabled"  [ngClass]="{'btn-primary' : radical.selected, 'btn-outline-primary': !radical.selected }" (click)="toggleRadical(radical); ">{{radical.kanji}}</button>
				</li>
			</ul>
		</div>
	</div>
</div>