<div class="container">
	<div class="row">
		<div class="col-sm my-5">
			<h1 class="display-3 font-weight-normal" align="center">OrangeMoon - 漢字典</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg mt-8">
			<div class="btn-toolbar float-right" role="toolbar" >
				<div class="btn-group ml-2" role="group">
					<a type="button" class="btn btn-primary" routerLink="/main" routerLinkActive="active">Main</a>
					<a type="button" class="btn btn-primary" routerLink="/kanjibyradicals" routerLinkActive="active">Kanji by Radicals</a>
				</div>
			</div>
		</div>
	</div>
	

	<div class="row">
		Let's have some Content here....
	</div>
</div>


