	<div class="row">
		<div class="col-lg mt-8">
			<div class="btn-toolbar float-right" role="toolbar" >
				<div class="btn-group ml-2" role="group">
					<a type="button" class="btn btn-primary" routerLink="/main" routerLinkActive="active">Main</a>
					<a type="button" class="btn btn-primary" routerLink="/kanjilookup" routerLinkActive="active">Kanji Lookup</a>
					<a type="button" class="btn btn-primary" routerLink="/kanjibyradicals" routerLinkActive="active">Kanji by Radicals</a>
				</div>
			</div>
		</div>
	</div>
