<div class="container">
	<div class="row">
		<div class="col-sm my-5">
			<h1 class="display-3 font-weight-normal" align="center">OrangeMoon - KanjiQuiz</h1>
		</div>
	</div>
	
	<app-main-navigation></app-main-navigation>

	<div class="row">
		<div class="col-5">
		</div>
		<div class="col-2">
			<div class="list-group">
				<button type="button" class="list-group-item list-group-item-action">View Lists</button>
				<button type="button" class="list-group-item list-group-item-action">Create Game</button>
				<button type="button" class="list-group-item list-group-item-action">Join Game</button>
			</div>
		</div>
		<div class="col-5">
		</div>
		
	</div>
</div>



