	<div *ngFor="let uientry of uiEntries;" class="row mt-2 mb-5" >
		<div class="col-lg-2">
			<h5 class="display-4">{{uientry.mainKanji}}</h5>
			{{uientry.mainKana}}
		</div>
		
		<div class="col-lg-5">
			<ng-container *ngFor="let sense of uientry.senses">
				<span class="text-muted">{{sense.pos}}</span>
				<ul>
					<li>{{sense.translation}} <span *ngIf="sense.xref" class="text-muted">&mdash; see also {{sense.xref}}</span> </li>
				</ul>
			</ng-container>
			
			<ng-container *ngIf="uientry.otherForms.length > 0">
				<span class="text-muted">Other Form(s)</span>
				<ul *ngFor="let otherform of uientry.otherForms">
					<li>{{otherform}}</li>
				</ul>
			</ng-container>
			
		</div>
	</div>

