	<div *ngFor="let uientry of uiEntries;" class="row mt-2 mb-5" >
		<div class="col-3">
			<h1 class="heading-4">{{uientry.mainKanji}}</h1>
			{{uientry.mainKana}}
		</div>
		
		<div class="col-9">
			<ng-container *ngFor="let sense of uientry.senses">
				<span class="text-muted">{{sense.pos}}</span>
				<ul>
					<li>{{sense.translation}} <span *ngIf="sense.xref" class="text-muted">&mdash; see also {{sense.xref}}</span> </li>
				</ul>
			</ng-container>
						
			<ng-container *ngIf="uientry.otherForms.length > 0">
				<span class="text-muted">Other Form(s)</span>
				<ul *ngFor="let otherform of uientry.otherForms">
					<li>{{otherform}}</li>
				</ul>
			</ng-container>
			
			<span>go to: <a class="text-muted" [routerLink]="['/kanjilookup']" [queryParams]="{q: uientry.mainKanji}" queryParamsHandling="merge" >{{uientry.mainKanji}}</a></span>
			
		</div>
	</div>
