	<div *ngFor="let uichar of uiChars" class="row mt-2">
		<div class="col-lg-1">
			<span>{{uichar.stroke_count}} strokes</span>
			<h3 class="display-3">{{uichar.literal}}</h3>
			
			<span class="badge badge-success mr-1">JLPT {{uichar.jlpt_old}} (old)</span>
			<span class="badge badge-info">Grade {{uichar.grade}}</span>
		</div>
		<div class="col-lg-3">
			<h5>{{uichar.meanings.join(",  ")}}</h5>
			
			<div>
			<p *ngIf="uichar.jakun_readings.length>0">Kun: {{uichar.jakun_readings.join(", ")}}</p>
			<p *ngIf="uichar.jaon_readings.length>0">On: {{uichar.jaon_readings.join(", ")}}</p>
			</div>
		</div>
		
	</div>
	

	<div *ngFor="let char of thisChars; let i = index" class="row mt-2" >
		<div class="col-lg-2">
			
			<span>{{char.stroke_count}} strokes</span>
			<h3 class="display-3">{{char.literal}}</h3>
			
			<span class="badge badge-success mr-1">JLPT {{char.jlpt}} (old)</span>
			<span class="badge badge-info">Grade {{char.grade}}</span>
			
		</div>
		
		<div class="col-lg-4">
			<ul *ngFor="let rm of char.rm;">
				<ng-container *ngFor="let meaning of rm.meanings; ">
					<li *ngIf="meaning.m_lang==''">{{meaning.value}}</li>
				</ng-container>
			</ul>
		</div>
		
		<div class="col-lg-4">
			<h5>Kun</h5>
			<ul *ngFor="let rm of char.rm;">
				<ng-container *ngFor="let reading of rm.readings; ">
					<li *ngIf="reading.type=='ja_kun'">{{reading.value}}</li>
				</ng-container>
			</ul>
			
			<h5>On</h5>
			<ul *ngFor="let rm of char.rm;">
				<ng-container *ngFor="let reading of rm.readings; ">
					<li *ngIf="reading.type=='ja_on'">{{reading.value}}</li>
				</ng-container>
			</ul>
		</div>
		
	</div>

