<div class="container">
	<div class="row">
		<div class="col-sm my-5">
			<h1 class="display-3 font-weight-normal" align="center">Kanji Lookup</h1>
		</div>
	</div>
	
	<app-main-navigation></app-main-navigation>

	<div class="row">
		<div class="col-sm my-5">
			<form (ngSubmit)="onSubmit()">
			<div class="form-row">
				<div class="input-group mb-3">
					<input type="text" class="form-control form-control-lg"  (ngModelChange)="onLookupInputChanged($event)" [ngModel]="currentKanjiQueryString" placeholder="Kanji"  name="q" >
					<div class="input-group-append">
						<button class="btn btn-outline-success btn-lg" type="submit" ><span>Lookup</span></button>
					</div>			
				</div>
			</div>
			</form>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<app-kanji-lookup-show-entries [entries]="lookupResult.entries"></app-kanji-lookup-show-entries>
			<app-kanji-lookup-show-names [names]="lookupResult.names"></app-kanji-lookup-show-names>
		</div>
	
		<div class="col-lg-4">
			<app-kanji-lookup-show-chars [chars]="lookupResult.chars"></app-kanji-lookup-show-chars>
		</div>
	</div>	
</div>

