<div class="container">
	<div class="row">
		<div class="col-sm my-5">
			<h1 class="display-3 font-weight-normal" align="center">Kanji Game - Entry Hall</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			
			<div class="form-group">
				<label for="gameSelection">Select Game</label>
				<select class="form-control" id="gameSelection" [(ngModel)]="selectedGame">
					<option value="">None</option>
					<option *ngFor="let item of kanjiQuizList" >{{item.name}}</option>
				</select>
			</div>
			
			<div class="form-group">
				<label for="gameNumberOfQuestions">Select Number of Questions</label>
				<select class="form-control" id="gameNumberOfQuestions" [(ngModel)]="selectedQuestionCount">
					<option>10</option>
					<option>15</option>
					<option>20</option>
					<option>25</option>
					<option>50</option>
					<option>100</option>
				</select>
			</div>
			
			<ul>
				<li>TODO: setup your player</li>
				<li>TOOD: start button / starts or wait automatically for all non moderators until game is started</li>
				<li>TODO: then play rounds</li>
			</ul>
			
		</div>
		<div class="col-sm">
			<button class="btn btn-success">Start</button>
		</div>
	</div>
</div>


